<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadruped">

    <xacro:macro name="joint_tf">
        <!-- <param name="num">1.0</param>
        <param name="den">1.0</param> -->
        <!-- ARX model -->
        <param name="num">0.00213984 0.00214816 0.00420358 0.00477611 0.00609169</param>
        <param name="den">1.0 -1.1071699 0.03831938 -0.1805567 0.00378954 0.26499942</param>
        <param name="predict_vel">false</param>
    </xacro:macro>

    <xacro:macro name="leg_joints" params="prefix">
        <joint name="${prefix}_hip_roll_joint">
            <xacro:joint_tf/>
            <command_interface name="position">
                <param name="min">-0.52</param>
                <param name="max">0.52</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="${prefix}_hip_pitch_joint">
            <xacro:joint_tf/>
            <command_interface name="position">
                <param name="min">-0.79</param>
                <param name="max">0.79</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="${prefix}_elbow_joint">
            <xacro:joint_tf/>
            <command_interface name="position">
                <param name="min">-0.63</param>
                <param name="max">0.63</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-1000</param>
                <param name="max">1000</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </xacro:macro>

    <ros2_control name="BlackMouthSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <xacro:leg_joints prefix="front_left"/>
        <xacro:leg_joints prefix="front_right"/>
        <xacro:leg_joints prefix="back_left"/>
        <xacro:leg_joints prefix="back_right"/>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find black_mouth_control)/config/leg_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>